{{!< default}}
{{#post}}
<div class="col-md-8 home-content-area">
  <article class="{{post_class}} article-index">
    <header class="post-meta text-center" style="margin-bottom: 30px;">
      <h1 class="text-center" style="margin: 30px 0;">{{title}}</h1>
    </header>
    <div id="post-content">
      <h3>Google</h3>
        <gcse:search></gcse:search>
      <h3>Google 用不了？使用 Swiftype 替代</h3>
        <div class="padding-left-right"><a class="st-search-show-outputs btn btn-default" href="#">搜索</a></div>
    </div>
    <footer class="post-footer text-center">
      <div class="eof-line"></div>
    </footer>
  </article>
</div><!-- col-md-8 -->
<div class="col-md-3">
  <aside>
    {{#author}}
    {{#if image}}
      <p>
        <a href="{{url}}">
          <img class="center-block img-responsive" src="{{image}}" alt="author-image" style="width: 60px; border-radius: 30px; margin-top: 50px;">
        </a>
      </p>
    {{/if}}
    <p class="text-center"><a class="tag-btn" href="{{url}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{name}}</a></p>
    {{#if bio}}
      <blockquote>擅于搜索，快人一步。</blockquote>
    {{/if}}
    {{/author}}
    <p class="text-center"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 目录</p>
    <div id="toc" class="padding-left-right"></div>
  </aside>
</div><!-- col-md-3 -->
</div><!-- row home-main -->
</main>
{{/post}}
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  _st('install','PhpUexSY4UJMnN1mWg4q','2.0.0');
</script>
<script>(function() {var cx = '016734670748627911453:wrkbhnpzasw';var gcse = document.createElement('script');gcse.type = 'text/javascript';gcse.async = true;gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse, s);})();</script>
<style>
  .gsc-control-cse {line-height: 1 !important;}
  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {width: 71px !important; height: 29px !important;}
  .cse .gsc-control-cse, .gsc-control-cse {background-color: transparent;}
</style>